.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    text-align: center;
}
.recipespic:hover {
    
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(136, 219, 140);
}

.recipespic {
    height: 500px;
    width: 500px;
}